{% extends 'healthnet/base.html' %}
{% block title %}
    <title>HealthNet</title>
{% endblock %}
{% block nav %}
    {% include "healthnet/just_brand_nav.html" %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-2 col-md-1">
        </div>
        <div class="col-lg-8 col-md-10 card">
            <section id="warning" class="margin-bottom">
                <p>You must have insurance to register.</p>
                <p>
                    If you do not have insurance, please visit: <a href="https://www.healthcare.gov/">healthcare.gov</a>
                    to get insurance before registering.
                </p>
            </section>
            <a href="/users/register_patient" class="btn btn-primary">I have insurance</a>
        </div>
        <div class="col-lg-2 col-md-1">
        </div>
    </div>
{% endblock %}