{% extends 'healthnet/base.html' %}
{% block title %}
    <title>HealthNet</title>
{% endblock %}
{% block nav %}
    {% include "healthnet/just_brand_nav.html" %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-2 col-md-1">
        </div>
        <div class="col-lg-8 col-md-10 card">
            <section id="warning" class="margin-bottom">
                <p>Appointment successfully scheduled.</p>
                <p>
                    The appointment is now scheduled. Please note it and
                    arrive early.
                </p>
            </section>
             <a href="/calendar/{{pk}}" class="btn btn-primary">Return to your calendar</a>
        </div>
        <div class="col-lg-2 col-md-1">
        </div>
    </div>
{% endblock %}